body {
    background: rgb(226, 230, 236);
    font: normal 15pt Arial;
    margin: 0;
    padding: 0;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-style: italic;
}

.esquerda {
    position: relative;
    text-align: left;
    justify-items: left;
    display: flexbox;

}

.borda3d {
    border-radius: 50%;
    text-align: center;
    border-color: black;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px#0a0a0a;
    background-color: rgba(93, 224, 89, 0.12);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(20, 19, 19);
    text-align: center;
}

h1,
h2,
h3 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

table,
th,
td {
    border: 1px solid white;
    border-collapse: collapse;
}

th,
td {
    border-style: solid;
}

section {
    background: white;
    border-radius: 10px;
    padding: 30px;
    width: 1000px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
    text-align: justify;
}

p {
    text-align: justify;
}

.centro {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgtitulo {

    width: 35px;
    height: 35px;
    border-radius: 5px;

}
.fonte{
font-size: 25px;
text-align:right;
}
/*rodape*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    font-style: italic;
}

/*Divs*/
#DivLateral {
    position: relative;
    border-width: 2px;
    left: 25px;
    width: 50%;
    height: auto;
    float: left;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(241, 210, 33);
}

#DivA {
    position: relative;
    border-width: 2px;
    width: 45%;
    height: auto;
    left: -7px;
    float: left;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(241, 134, 33);
}

#l1 {
    background-color: rgba(231, 231, 209, 0.8);
    border-radius: 10px;
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#l1:hover{
    background-color: rgba(231, 231, 209, 0.4);
}
#l2 {
    background-color: rgba(89, 170, 224, .8);
    border-radius: 10px;
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#l2:hover{
    background-color: rgba(89, 170, 224, .4);
}
/*titulos sombra*/
.titulo {
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
    color: white;
    font: 1.5em Georgia, "Bitstream Charter", "URW Bookman L", "Century Schoolbook L", serif;
    font-size: 20px;

}

.titulo2 {
    text-shadow: 1px 1px 2px white, 0 0 1em wheat, 0 0 0.2em whitesmoke;
    color: black;
    font: 1.5em Georgia, "Bitstream Charter", "URW Bookman L", "Century Schoolbook L", serif;
    font-size: 12px;

}

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
    /* For IE 6/7 (trigger hasLayout) */
}

.main-timeline {
    font-family: 'Poppins', sans-serif;
}

.main-timeline:after {
    content: '';
    display: block;
    clear: both;
}

.main-timeline .timeline {
    width: calc(50% + 70px);
    margin: 0 5px 0 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    float: left;
}

.main-timeline .timeline-content {
    color: #555;
    background: #fff;
    min-height: 130px;
    padding: 30px 150px 30px 30px;
    border-top: none;
    display: block;
    position: relative;
}

.main-timeline .timeline-content:before {
    content: "";
    background-color: #00C6DA;
    height: 100%;
    width: 70px;
    position: absolute;
    top: 0;
    right: 0;
}

.main-timeline .timeline-content:hover {
    text-decoration: none;
}

.main-timeline .timeline-icon {
    color: #fff;
    font-size: 40px;
    line-height: 40px;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: 16px;
}

.main-timeline .timeline-year {
    color: #333;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    transform: translateY(-50%) rotate(90deg);
    position: absolute;
    top: 50%;
    right: 60px;
}

.main-timeline .title {
    color: #00C6DA;
    font-size: 23px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 5px;
}

.main-timeline .description {
    font-size: 14px;
    margin: 0;
}

.main-timeline .timeline:nth-child(even) {
    float: right;
    margin: 0 0 0 5px;
}

.main-timeline .timeline:nth-child(even) .timeline-content {
    padding: 30px 30px 30px 150px;
}

.main-timeline .timeline:nth-child(even) .timeline-content:before {
    right: auto;
    left: 0;
}

.main-timeline .timeline:nth-child(even) .timeline-icon {
    right: auto;
    left: 10px;
}

.main-timeline .timeline:nth-child(even) .timeline-year {
    right: auto;
    left: 60px;
}

.main-timeline .timeline:nth-child(4n+2) .timeline-content:before {
    background-color: #00A6F9;
}

.main-timeline .timeline:nth-child(4n+2) .title {
    color: #00A6F9;
}

.main-timeline .timeline:nth-child(4n+3) .timeline-content:before {
    background-color: #FF3E7D;
}

.main-timeline .timeline:nth-child(4n+3) .title {
    color: #FF3E7D;
}

.main-timeline .timeline:nth-child(4n+4) .timeline-content:before {
    background-color: #7438B9;
}

.main-timeline .timeline:nth-child(4n+4) .title {
    color: #7438B9;
}

/*controle responsivo*/
@media screen and (max-width:767px) {

    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(even) {
        width: 100%;
        margin: 0 0 30px;
    }

    div {
        text-align: center;
        height: auto;
        width: auto;
        left: auto;
        right: auto
    }

    section {
        text-align: center;
        height: auto;
        width: auto;
        left: auto;
        right: auto
    }

    .img4 {
        transition: all 0.5s;
        cursor: pointer;
    }

    .img4:hover {
        -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
        filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
    }

    .img5 {
        transition: all .5s;
        border: 10px solid transparent;
    }

    .img5:hover {
        border: 10px solid #136497;
        border-radius: 50%;
    }

    .img6 {
        transition: all .5s;
        border: 10px solid #eeeeee;
    }

    .img6:hover {
        border: 10px solid #781f40;
        border-radius: 50%;
        -webkit-filter: drop-shadow(15px 7px 1px rgba(0, 0, 0, .5));
        filter: drop-shadow(15px 7px 1px rgba(0, 0, 0, .5));
        -webkit-transform: rotateZ(-360deg) scale(1.5);
        transform: rotateZ(-360deg) scale(1.5);
    }

    i#foto {
        background: url('../img/icons8-javascript-96.png') no-repeat center;
        text-align: center;
        height: auto;
        width: auto;
        left: auto;
        right: auto
    }

    .foto {
        background-image: url("../img/icons8-javascript-32.png");
        text-align: center;
        height: auto;
        width: auto;
        left: auto;
        right: auto
    }

    #DivLateral {
        text-align: center;
        height: auto;
        width: auto;
        left: auto;
        right: auto
    }

    #DivA {
        text-align: center;
        height: auto;
        width: auto;
        left: auto;
        right: auto
    }
}

@media screen and (max-width:576px) {

    .main-timeline .timeline .timeline-content,
    .main-timeline .timeline:nth-child(even) .timeline-content {
        text-align: center;
        padding: 130px 25px 25px;
    }

    .main-timeline .timeline .timeline-content:before,
    .main-timeline .timeline:nth-child(even) .timeline-content:before {
        height: 70px;
        width: 100%;
    }

    .main-timeline .timeline-icon,
    .main-timeline .timeline:nth-child(even) .timeline-icon {
        transform: translateY(0) translateX(-50%);
        top: 16px;
        left: 50%;
        right: auto;
    }

    .main-timeline .timeline-year,
    .main-timeline .timeline:nth-child(even) .timeline-year {
        transform: translateY(0) translateX(-50%);
        top: 80px;
        left: 50%;
        right: auto;
    }

    div {
        text-align: center;
        height: auto;
        width: auto;
        left: auto;
        right: auto
    }

    section {
        text-align: center;
        height: auto;
        width: auto;
        left: auto;
        right: auto
    }

    i#foto {
        background: url('../img/icons8-javascript-96.png') no-repeat center;
        text-align: center;
        height: auto;
        width: auto;
        left: auto;
        right: auto
    }

    .foto {
        background-image: url("../img/icons8-javascript-32.png");
        text-align: center;
        height: auto;
        width: auto;
        left: auto;
        right: auto
    }

    #DivLateral {
        text-align: center;
        height: auto;
        width: auto;
        left: auto;
        right: auto
    }

    #DivA {
        text-align: center;
        height: auto;
        width: auto;
        left: auto;
        right: auto
    }
}