* {
    margin: 0;
    padding: 0;
    border: 0;
}
#curriculares{
    background-color: #00A6F9;
    text-align: center;
}
p#curriculares:hover{
    background-color: #136497;

}
body {

    font: normal 15pt Arial;
    margin: 0;
    padding: 0;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-style: italic;
}

.section-3 {
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-foto-direita {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.img-png {
    width: 80px;
    height: 80px;
    margin: -19px;
}

.img-gif {
    width: 80px;
    height: 80px;
    margin: -19px;
}

.img-foto-esquerda {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

a {

    text-decoration: none;
}

#d2 {
    display: flex;
    position: relative;
    padding: 45px;
    width: 50%;

    border-right-width: 10px;
    border-right-style: double;
    border-right-color: #000
}

.card-titulo {
    font-size: 14px;
    color: #fff;
    padding: 4px 4px 4px 4px;
    text-align: center;
    border: darkorange;
    border-style: double;
    background: #000;

}

.card-texto {
    font-weight: bold;
    justify-content: center;
    font-size: 11px;
    color: #fff;
    padding: 4px 4px 4px 4px;
    text-align: center;
    opacity: 0;
    animation: fadeInText 4s 1.1s both;
}

.text-block {
    position: relative;
    overflow: hidden;
}

.text-block::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(106, 109, 107);
    transform: translateX(-100%);
    animation: enLanrgeBlock 0.5s 0.6s both, revealBlock 0.5s 1.1s both;
}

@keyframes revealBlock {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}



@keyframes enLanrgeBlock {
    from {
        width: 0;
        ;
    }

    to {
        width: 100%;
    }
}

@keyframes fadeInText {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

.div2 {
    animation: letras1 5s ease-in-out both;
}


@keyframes letras1 {
    from {
        transform: translate(-100%);
    }

    to {
        transform: translate(0%);
    }
}

@media(max-width: 520px) {

    img {
        display: flex;
        position: relative;
        float: left;
        left: 0;
    }

    .div2 {
        width: auto;
        animation: nane;
        border-color: #fff;
        border-style: groove;
    }

    #d2 {
        display: grid;
        position: relative;
    }
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-thumb {
    background: rgb(0, 255, 242);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.efeito {
    border: none;
    color: #fff;
    padding: 20px;
    margin: 10px;
    font-size: 18px;
    line-height: 18px;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 400ms ease;
}

.efeito-1 {
    background-color: #28348a;
}

.efeito-1::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 135px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    transition: all 2s ease;
}

.efeito-1:hover:before {
    width: 100%;
}

.efeito-2 {
    background-color: #28348a;
}

.efeito-2::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 280px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    transition: all 2s ease;
}

.efeito-2:hover:before {
    width: 100%;
}
.esquerda {
    position: relative;
    text-align: left;
    justify-items: left;
    display: flexbox;

}

.borda3d {
    border-radius: 50%;
    text-align: center;
    border-color: black;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px#0a0a0a;
    background-color: rgba(93, 224, 89, 0.12);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(20, 19, 19);
    text-align: center;
}

h1,
h2,
h3 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

table,
th,
td {
    border: 1px solid white;
    border-collapse: collapse;
}

th,
td {
    border-style: solid;
}

section {
    background: white;
    border-radius: 10px;
    padding: 30px;
    width: 1000px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
    text-align: justify;
}

p {
    text-align: justify;
}

.centro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgtitulo {

    width: 35px;
    height: 35px;
    border-radius: 5px;

}

.fonte {
    font-size: 25px;
    text-align: right;
}

/*rodape*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    font-style: italic;
}

/*Divs*/
#DivLateral {
    position: relative;
    border-width: 2px;
    left: 25px;
    width: 50%;
    height: auto;
    float: left;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(241, 210, 33);
}

#DivA {
    position: relative;
    border-width: 2px;
    width: 45%;
    height: auto;
    left: -7px;
    float: left;
    align-items: center;
    border-radius: 50px;
    background-color: rgb(241, 134, 33);
}

#sobre {
    margin-top: 80px;
}

.titulocor {
    color: green;
    ;
}

.esp {
    padding-bottom: 10px;
}

#foto-img {
    border-radius: 25px;
    padding: 10px;
    transition: 0.8s all ease-in-out;

}

.box {
    position: relative;
    width: 250px;
    height: 250px;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box::before {
    content: "";
    position: absolute;
    inset: -10px 140px;
    transition: 0.5s;
    background: -webkit-linear-gradient(315deg, #00ccff, #d400d4);
    animation: animate 4s linear infinite;
}

.box:hover::before {
    inset: -20px 0px;
}

.box::after {
    content: "";
    position: absolute;
    inset: 6px;
    background: url('/img/portfolio.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 50%;
    z-index: 1;
}

@keyframes animate {

    0% {
        transform: rotate(0deg);
    }

    100% {

        transform: rotate(360deg);
    }

}

#foto-img:hover {
    width: 200px;
    border-radius: 50%;
    border-style: solid;
    box-shadow: 10px 5px 5px black;
    opacity: 1;
    animation: move-img 4s both;
}

@keyframes move-img {
    10% {
        transform: translate3d(0, 0, 50px);
    }
}

.borda-img {
    width: 100%;
    border-radius: 25px;
    padding: 10px;
    transition: 0.5s all ease-in-out;

}

.borda-img:hover {
    opacity: 0.2;
    transform: scale(1.1);

}

#l1 {
    background-color: rgba(231, 231, 209, 0.8);
    border-radius: 10px;
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#l1:hover {
    background-color: rgba(231, 231, 209, 0.4);
}

#l2 {
    background-color: rgba(89, 170, 224, .8);
    border-radius: 10px;
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#l2:hover {
    background-color: rgba(89, 170, 224, .4);
}

/*titulos sombra*/
.titulo {
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
    color: white;
    font: 1.5em Georgia, "Bitstream Charter", "URW Bookman L", "Century Schoolbook L", serif;
    font-size: 20px;

}

.titulo2 {
    text-shadow: 1px 1px 2px white, 0 0 1em wheat, 0 0 0.2em whitesmoke;
    color: black;
    font: 1.5em Georgia, "Bitstream Charter", "URW Bookman L", "Century Schoolbook L", serif;
    font-size: 12px;

}

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
    /* For IE 6/7 (trigger hasLayout) */
}

.main-timeline {
    font-family: 'Poppins', sans-serif;
}

.main-timeline:after {
    content: '';
    display: block;
    clear: both;
}

.main-timeline .timeline {
    width: calc(50% + 70px);
    margin: 0 5px 0 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    float: left;
}

.main-timeline .timeline-content {
    color: #555;
    background: #fff;
    min-height: 130px;
    padding: 30px 150px 30px 30px;
    border-top: none;
    display: block;
    position: relative;
}

.main-timeline .timeline-content:before {
    content: "";
    background-color: #00C6DA;
    height: 100%;
    width: 70px;
    position: absolute;
    top: 0;
    right: 0;
}

.main-timeline .timeline-content:hover {
    text-decoration: none;
}

.main-timeline .timeline-icon {
    color: #fff;
    font-size: 40px;
    line-height: 40px;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: 16px;
}

.main-timeline .timeline-year {
    color: #333;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    transform: translateY(-50%) rotate(90deg);
    position: absolute;
    top: 50%;
    right: 60px;
}

.main-timeline .title {
    color: #00C6DA;
    font-size: 23px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 5px;
}

.main-timeline .description {
    font-size: 10px;
    margin: 0;
    text-align: center;
}

.main-timeline .timeline:nth-child(even) {
    float: right;
    margin: 0 0 0 5px;
}

.main-timeline .timeline:nth-child(even) .timeline-content {
    padding: 30px 30px 30px 150px;
}

.main-timeline .timeline:nth-child(even) .timeline-content:before {
    right: auto;
    left: 0;
}

.main-timeline .timeline:nth-child(even) .timeline-icon {
    right: auto;
    left: 10px;
}

.main-timeline .timeline:nth-child(even) .timeline-year {
    right: auto;
    left: 60px;
}

.main-timeline .timeline:nth-child(4n+2) .timeline-content:before {
    background-color: #00A6F9;
}

.main-timeline .timeline:nth-child(4n+2) .title {
    color: #00A6F9;
}

.main-timeline .timeline:nth-child(4n+3) .timeline-content:before {
    background-color: #FF3E7D;
}

.main-timeline .timeline:nth-child(4n+3) .title {
    color: #FF3E7D;
}

.main-timeline .timeline:nth-child(4n+4) .timeline-content:before {
    background-color: #7438B9;
}

.main-timeline .timeline:nth-child(4n+4) .title {
    color: #7438B9;
}

/*controle responsivo*/
@media screen and (max-width:767px) {

    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(even) {
        width: 100%;
        margin: 0 0 30px;
    }

    div {
        text-align: center;
        height: auto;
        width: auto;
        left: auto;
        right: auto
    }

    section {
        text-align: center;
        height: auto;
        width: auto;
        left: auto;
        right: auto
    }

    .img4 {
        transition: all 0.5s;
        cursor: pointer;
    }

    .img4:hover {
        -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
        filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
    }

    .img5 {
        transition: all .5s;
        border: 10px solid transparent;
    }

    .img5:hover {
        border: 10px solid #136497;
        border-radius: 50%;
    }

    .img6 {
        transition: all .5s;
        border: 10px solid #eeeeee;
    }

    .img6:hover {
        border: 10px solid #781f40;
        border-radius: 50%;
        -webkit-filter: drop-shadow(15px 7px 1px rgba(0, 0, 0, .5));
        filter: drop-shadow(15px 7px 1px rgba(0, 0, 0, .5));
        -webkit-transform: rotateZ(-360deg) scale(1.5);
        transform: rotateZ(-360deg) scale(1.5);
    }

    i#foto {
        background: url('../img/icons8-javascript-96.png') no-repeat center;
        text-align: center;
        height: auto;
        width: auto;
        left: auto;
        right: auto
    }

    .foto {
        background-image: url("../img/icons8-javascript-32.png");
        text-align: center;
        height: auto;
        width: auto;
        left: auto;
        right: auto
    }

    #DivLateral {
        text-align: center;
        height: auto;
        width: auto;
        left: auto;
        right: auto
    }

    #DivA {
        text-align: center;
        height: auto;
        width: auto;
        left: auto;
        right: auto
    }
}

@media screen and (max-width:576px) {

    .main-timeline .timeline .timeline-content,
    .main-timeline .timeline:nth-child(even) .timeline-content {
        text-align: center;
        padding: 130px 25px 25px;
    }

    .main-timeline .timeline .timeline-content:before,
    .main-timeline .timeline:nth-child(even) .timeline-content:before {
        height: 70px;
        width: 100%;
    }

    .main-timeline .timeline-icon,
    .main-timeline .timeline:nth-child(even) .timeline-icon {
        transform: translateY(0) translateX(-50%);
        top: 16px;
        left: 50%;
        right: auto;
    }

    .main-timeline .timeline-year,
    .main-timeline .timeline:nth-child(even) .timeline-year {
        transform: translateY(0) translateX(-50%);
        top: 80px;
        left: 50%;
        right: auto;
    }

    div {
        text-align: center;
        height: auto;
        width: auto;
        left: auto;
        right: auto
    }

    section {
        text-align: center;
        height: auto;
        width: auto;
        left: auto;
        right: auto
    }

    i#foto {
        background: url('../img/icons8-javascript-96.png') no-repeat center;
        text-align: center;
        height: auto;
        width: auto;
        left: auto;
        right: auto
    }

    .foto {
        background-image: url("../img/icons8-javascript-32.png");
        text-align: center;
        height: auto;
        width: auto;
        left: auto;
        right: auto
    }

    #DivLateral {
        text-align: center;
        height: auto;
        width: auto;
        left: auto;
        right: auto
    }

    #DivA {
        text-align: center;
        height: auto;
        width: auto;
        left: auto;
        right: auto
    }
}