body {
    background: rgb(226, 230, 236);
    font: normal 15pt Arial;
}
p{
    font-family: sans-serif;
    font-style: normal;
    font-style: italic;
}
header {
    display: flex;
    flex-direction:column;
    align-items: center;
    color: rgb(20, 19, 19);
    text-align: center;
}
h1,h2,h3{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
  }
  th, td {
    border-style: solid;
  }
section {
    background: white;
    border-radius: 10px;
    padding: 30px;
    width: 1000px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
    text-align:justify;
}
p{
    text-align: justify;
}
.centro {
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    font-style: italic;
}
#DivLateral{
    position:relative;
    border-width:2px;
    left: 25px;
    width:50%;
    height: auto;
    float: left;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(241, 210, 33);
}
#DivA{
    position: relative;
    border-width:2px;
    width: 50%;
    height:auto;
    left:-3px;
    float: left;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(241, 134, 33);
}
p.titulo{
    text-align: center;
}
#l1{
    background-color: rgba(231, 231, 209, 0.8);
    border-radius: 20px;
    font-style:normal;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#l2{
    background-color: rgba(89, 170, 224,.8);
    border-radius: 20px;
    font-style:normal;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
     zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}
.main-timeline{ font-family: 'Poppins', sans-serif; }
.main-timeline:after{
    content: '';
    display: block;
    clear: both;
}
.main-timeline .timeline{
    width: calc(50% + 70px);
    margin: 0 5px 0 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    float: left;
}
.main-timeline .timeline-content{
    color: #555;
    background: #fff;
    min-height: 130px;
    padding: 30px 150px 30px 30px;
    border-top: none;
    display: block;
    position: relative;
}
.main-timeline .timeline-content:before{
    content: "";
    background-color: #00C6DA;
    height: 100%;
    width: 70px;
    position: absolute;
    top: 0;
    right: 0;
}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .timeline-icon{
    color: #fff;
    font-size: 40px;
    line-height: 40px;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: 16px;
}
.main-timeline .timeline-year{
    color: #333;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    transform: translateY(-50%) rotate(90deg);
    position: absolute;
    top: 50%;
    right: 60px;
}
.main-timeline .title{
    color: #00C6DA;
    font-size: 23px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 5px;
}
.main-timeline .description{
    font-size: 14px;
    margin: 0;
}
.main-timeline .timeline:nth-child(even){
    float: right;
    margin: 0 0 0 5px;
}
.main-timeline .timeline:nth-child(even) .timeline-content{ padding: 30px 30px 30px 150px; }
.main-timeline .timeline:nth-child(even) .timeline-content:before{
    right: auto;
    left: 0;
}
.main-timeline .timeline:nth-child(even) .timeline-icon{
    right: auto;
    left: 10px;
}
.main-timeline .timeline:nth-child(even) .timeline-year{
    right: auto;
    left: 60px;
}
.main-timeline .timeline:nth-child(4n+2) .timeline-content:before{ background-color: #00A6F9; }
.main-timeline .timeline:nth-child(4n+2) .title{ color: #00A6F9; }
.main-timeline .timeline:nth-child(4n+3) .timeline-content:before{ background-color: #FF3E7D; }
.main-timeline .timeline:nth-child(4n+3) .title{ color: #FF3E7D; }
.main-timeline .timeline:nth-child(4n+4) .timeline-content:before{ background-color: #7438B9; }
.main-timeline .timeline:nth-child(4n+4) .title{ color: #7438B9; }
@media screen and (max-width:767px){
    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(even){
        width: 100%;
        margin: 0 0 30px;
    }
    section{
        width: 100%;
        margin: 0 0 30px;
    }
}
@media screen and (max-width:576px){
    .main-timeline .timeline .timeline-content,
    .main-timeline .timeline:nth-child(even) .timeline-content{
        text-align: center;
        padding: 130px 25px 25px;
    }
    .main-timeline .timeline .timeline-content:before,
    .main-timeline .timeline:nth-child(even) .timeline-content:before{
        height: 70px;
        width: 100%;
    }
    .main-timeline .timeline-icon,
    .main-timeline .timeline:nth-child(even) .timeline-icon{
        transform: translateY(0) translateX(-50%);
        top: 16px;
        left: 50%;
        right: auto;
    }
    .main-timeline .timeline-year,
    .main-timeline .timeline:nth-child(even) .timeline-year{
        transform: translateY(0) translateX(-50%);
        top: 80px;
        left: 50%;
        right: auto;
    }
    section{
        width: 100%;
        margin: 0 0 30px;
    }
   i#foto{
        background: url('../img/icons8-javascript-96.png') no-repeat center;   
    }
    .foto{
        background-image: url("../img/icons8-javascript-32.png"); 
        width: 400px;
        height: 400px;
    }
}