.wrapper {
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00A6F9;
  }

  .wrapper a {
    display: inline-block;
    text-decoration: none;
    padding: 5px;
    height: 30px;
    background: #00A6F9;
    border-radius: 5px;
    border: 1px solid black;
    text-transform: uppercase;
    color: #0d0c03;
    font-family: "Roboto", sans-serif;
  }
  .wrapper a:hover{
    background-color:#fff;
opacity: 1;
  }
  .modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, 0.7);
    transition: all 0.4s;
  }

  .modal:target {
    visibility: visible;
    opacity: 1;
  }
  .content {
    border-radius: 4px;
    position: relative;
    width: 500px;
    max-width: 90%;
    background: #fff;
    padding: 1em 2em;
  }

  .footer {
    text-align:left;
    margin-top: 10px;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #585858;
    text-decoration: none;
  }

  .footer-btn-close {
    width: 150px;
    padding: 10px;
    text-decoration:line-through;
    background-color: #cfcca8;
    color: #000000;
    border-radius: 3px;
  }